body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
  }
  
  .container {
    border: solid 2px grey;
    border-radius: 20px;
    height: 400px;
    width: 250px;
    padding: 24px;
    margin: auto;
    
    background: #d3d3d3;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-itens: center;
    justify-content: center;
    
  }
  
  .display {
    border: solid 1px black;
    height: 65px;
    background-color: #008000;
  }
  
  .numbers {
    display: grid;
    padding: 10px;
    border: solid 1px black;
    border-radius: 15px;
    height: 290px;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-row: 1fr 1fr 1fr 1fr;
    justify-items: center
  }
  
  button {
    width: 45px;
    height: 60px;
    border-radius: 8px;
    background-color: darkgray;
    font-size: 16pt;
  }
  button:hover {
      background-color: rgba(79, 79, 79, 0.5);
  }
